body{
    padding: 0;
    margin: 0;
}
button{
    margin-left: 200px;
    margin-top: 390px;
    width: 30%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    /* margin: auto; */
    background: #fff;
    border: 0;
    outline: none;
    border-radius: 30px;
}